<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Portfolio</h1>
        </div>
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="home"> Home </a></li>
                    <li><a href="projects"> Projects </a></li>
                    <li><a href="contact"> Contact </a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="jumbotron">
            <div>
                <h2> Tom Quinn </h2>
            </div>
            <div id="homeImg">
                <img src="images/EggCreature.png" class="img-responsive" id="creature">
            </div>
            <div id="about">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in rutrum ligula. Sed scelerisque bibendum est, at eleifend turpis blandit ac. Donec fringilla odio id mauris molestie, ut mattis mauris blandit. Cras ac finibus risus. Aenean lacus libero, scelerisque sit amet tincidunt nec, gravida sed nulla. Vestibulum eget leo eleifend, euismod felis quis, molestie augue. Nam nisi quam, viverra consectetur aliquet sed, sagittis tempus elit. Ut consectetur sapien tortor, non molestie dolor blandit sed. Duis at ante et dui mattis semper. Integer blandit turpis ac dolor aliquam convallis. Aenean porta, dui feugiat ultricies feugiat, diam turpis pharetra sapien, at pretium ex elit a odio. Fusce pharetra lectus eu vestibulum condimentum. Vestibulum quis enim consectetur, lobortis ipsum sed, fermentum ligula. Nunc in mauris mauris.
                </p>
            </div>
        </div>
    </div>
</body>
</html>